body {
  font-family: sans-serif;
  padding: 30px;
}

.admin-menu a {
  display: block;
  padding: 10px;
  margin: 8px 0;
  background: #eee;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  width: 250px;
}

.admin-menu a:hover {
  background: #ddd;
}
